pipeline/BatchVectorDatabaseUpload.json
{
	"name": "BatchVectorDatabaseUpload",
	"properties": {
		"activities": [
			{
				"name": "ExecuteForProcessedEmbedings",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetBlobMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetBlobMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Blob to Bytes",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "PineconeUploadBytes",
								"method": "POST",
								"body": {
									"value": "{\"blob_url\": @concat(\"https://abstractpoetry.blob.core.windows.net/processed-embeddings/\", item().name)}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "BlobsToBytesService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Send to Pinecone",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Blob to Bytes",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://embedding-db-ea3137b.svc.us-west1-gcp.pinecone.io/vectors/upsert",
								"method": "POST",
								"headers": {
									"Api-Key": "7b1da713-81bd-4c6e-9e9f-c6bace0fae47",
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@activity('Blob to Bytes').output\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetBlobMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ProcessedEmbeddings",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}