pipeline/BatchVectorDatabaseUpload.json
{
	"name": "BatchVectorDatabaseUpload",
	"properties": {
		"activities": [
			{
				"name": "ExecuteForProcessedEmbedings",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetBlobMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetBlobMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SendEmbeddings",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "UploadEmbeddings",
								"method": "POST",
								"body": {
									"value": "{\"blob_url\": \"https://abstractpoetry.blob.core.windows.net/processed-embeddings/@{item().name}\"}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "BlobsToBytesService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetBlobMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ProcessedEmbeddings",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}